        /* ----body---- */

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* ---end-body--- */

        /* ---start-header-section-css--- */

        #con-1 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            transition: 500ms;
            z-index: 102;
        }

        .bgcp {
            background-color: rgba(0, 0, 0, 0.466);
            transition: .5s;
            height: 120px;
            position: relative;
        }


        .bgc {
            background-image: url(../img/bg-heade-1.jpg);
            background-size: cover;
            transition: 500ms;
            padding: 8px;
            height: 100px;
        }

        .bgc li .dropbtn {
            padding: 30px 8px 30px;
        }

        .bgc .col-sm-3 .bgcp-3 {
            padding: 18px;
        }

        .bgc .bgcp-4 {
            padding: 22px;
        }

        .bgcp-4 {
            padding: 40px;
        }

        li a,
        .dropbtn {
            display: inline-block;
            text-align: center;
            padding: 44px 10px 44px;
            text-decoration: none;
            color: white;
        }

        li a:hover {
            color: red;
        }

        .dropdown a {
            text-transform: uppercase;
            transition: 200ms;
            font-weight: 200;
            font-family: monospace;

        }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 280px;
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            left: -105px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
        }

        .dropdown-content a:hover {
            color: red;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .nav-lst p {
            font-size: 25px;
        }

        /* ---end-header-section-css--- */

        /* ----now-start-model-button-section--- */

        #btn {
            border-radius: 28px;
            padding: 15px 18px 15px 18px;
            color: black;
            background: white;
            transition: 300ms;
            position: absolute;
            top: 90px;
            right: 50%;
            outline: none;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            z-index: 103;
        }

        #btn:hover {
            background-color: #ff497c;
            transition: 500ms;
        }

        .modal-body {
            padding: 0;
        }

        .input-group {
            margin-bottom: 0 !important;
        }

        .modal-dialog {
            max-width: var(--bs-modal-width);
            margin-right: 0;
            margin-left: 0;
            margin: 0;
        }

        .modal {
            --bs-modal-width: 100%;
        }

        .input-group input {
            outline: none;
            border: none;
            background: black;
            color: black;
        }

        @media screen and (max-width:975px) {
            header .nav-lst p {
                font-size: 18px;
                margin-top: 18px;
            }

            header ul {
                font-size: 15px;
            }

            .bgcp-3 a {
                font-size: 20px;
            }

            .bgcp-3 a img {
                width: 30px;
            }
        }

        @media screen and (max-width:854px) {
            header .nav-lst p {
                font-size: 15px;
                margin-top: 15px;
            }

            header ul {
                font-size: 12px;
            }

            .bgcp-3 a {
                font-size: 15px;
            }

            .bgcp-3 a img {
                width: 25px;
            }
        }

        @media screen and (max-width:726px) {
            header .nav-lst p {
                font-size: 12px;
                margin-top: 12px;
            }

            header ul {
                font-size: 10px;
            }

            .bgcp-3 a {
                font-size: 12px;
            }

            .bgcp-3 a img {
                width: 20px;
            }
        }

        @media screen and (max-width:726px) {
            header .nav-lst p {
                font-size: 10px;
                margin-top: 12px;
            }

            header ul {
                font-size: 8px;
            }

            .bgcp-3 a {
                font-size: 10px;
            }

            .bgcp-3 a img {
                width: 18px;
            }
        }

        @media screen and (max-width:574px) {
            .bgcp-3 a {
                font-size: 20px;
            }

            .bgcp-3 a img {
                width: 35px;
            }

            .bgcp-3 {
                padding: 8px 0px 8px;
            }

            .bgcp {
                height: auto;
            }

            header ul li a {
                padding: 10px !important;
            }

            header ul li a {
                font-size: 15px;
            }

            header .nav-lst p {
                font-size: 18px;
            }

            header button {
                color: white !important;
                background: white !important;
            }
        }

        /* ---end-model-button-section--- */


        .carousel-item {
            height: 100vh;
            min-height: 300px;
        }

        .carousel-caption {
            bottom: 90px;
            z-index: 2;
        }

        .carousel-caption h5 {
            font-size: 45px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 25px;
        }

        .carousel-caption p {
            width: 60%;
            margin: auto;
            font-size: 28px;
            line-height: 1.9;
        }

        .carousel-inner::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }

        .carousel-caption {
            background-image: url(../img/a-crausel.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        #carousel-btn-sys {
            padding: 15px 35px;
            border-radius: 35px;
            font-weight: 100;
            font-size: 15px;
        }

        #carousel-btn-sys:hover {
            background-color: unset;
        }

        /* ----end-carousel-section--- */

        /* ---started-secrvicess-section--- */

        #servicess:hover {
            color: #ff497c;
        }

        #service-img:hover {
            opacity: 0.5;
        }

        /* ----now-started-sec-2----- */

        #sec-2-img {
            background-color: #1f2732;
            color: #a4a9b9;
        }

        #imgage-test::before {
            color: #ff497c;
        }

        #sec-2-btn {
            color: #1f2732;
            border-color: #ffffff;
            background-color: #ffffff;
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
            padding: 25px 65px 25px;
            border-radius: 50px;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            border: 4px solid white;
            position: absolute;
            left: 42%;
            margin-top: -34px;
        }

        #sec-2-btn:hover {
            border-color: #ff497c;
            color: #ff497c;
            transition: .20s;
        }